{% extends 'base.html.twig' %}
{% block body %}

    <!--Start class site-->
    <div class="tz-site">

        <!--Start id tz header-->
        <header id="tz-header" class="bk-white">
            <div class="container">

                <!--Start class header top-->
                <div class="header-top">
                    <ul class="pull-left">
                        <li>
                            <a href="#">
                                USD
                                <span class="fa fa-angle-down tz-down"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">EURO</a>
                                </li>
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li>
                                    <a href="#">EGP</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                English
                                <span class="fa fa-angle-down tz-down"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">Call us:   (012) 3456 7890</a>
                        </li>
                    </ul>
                    <ul class="pull-right">
                        <li>
                            <a href="shop-register.html">My Account</a>
                        </li>
                        <li>
                            <a href="#">Wishlist</a>
                        </li>
                        <li>
                            <a href="shop-cart.html">My Cart</a>
                        </li>
                        <li>
                            <a href="shop-checkout.html">Checkout</a>
                        </li>
                        <li class="tz-header-login">
                            <a href="#">Login</a>
                            <div class="tz-login-form">
                                <form>
                                    <p class="form-content">
                                        <label for="username">Username / Email</label>
                                        <input type="text" name="username" id="username" value="">
                                    </p>
                                    <p class="form-content">
                                        <label for="password">Password</label>
                                        <input type="password" name="username" id="password" value="">
                                    </p>
                                    <p class="form-footer">
                                        <a href="#">Lost Password?</a>
                                        <button type="submit" class="pull-right button_class">LOGIN</button>
                                    </p>
                                    <p class="form-text">
                                        Don't have an account? <a href="shop-register.html">Register Here</a>
                                    </p>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--End class header top-->

                <!--Start header content-->
                <div class="header-content">
                    <h3 class="tz-logo pull-left"><a href="index.html"><img src="{{ asset('images/logo.png') }}"/></a></h3>
                    <div class="tz-search pull-right">

                        <!--Start form search-->

                        <!--End Form search-->

                        <!--live search-->
                        <div class="live-search">
                            <ul>
                                <li>
                                    <div class="live-img"><img src="images/product/product-search1.jpg" alt="product search one"></div>
                                    <div class="live-search-content">
                                        <h6><a href="single-product.html">Defy Advanced</a></h6>
                                        <span class="live-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="product-color">
                                                <i class="light-blue"></i>
                                                <i class="orange"></i>
                                                <i class="orange-dark"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="live-img"><img src="images/product/product-search2.jpg" alt="product search two"></div>
                                    <div class="live-search-content">
                                        <h6><a href="single-product.html">Defy Advanced</a></h6>
                                        <span class="live-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="product-color">
                                                <i class="light-blue"></i>
                                                <i class="orange"></i>
                                                <i class="blueviolet"></i>
                                                <i class="orange-dark"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="live-img"><img src="images/product/product-search3.jpg" alt="product search one"></div>
                                    <div class="live-search-content">
                                        <h6><a href="single-product.html">Defy Advanced</a></h6>
                                        <span class="live-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="product-color">
                                                <i class="blueviolet"></i>
                                                <i class="light-blue"></i>
                                                <i class="orange-dark"></i>
                                                <i class="orange"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--End live search-->
                    </div>
                </div>
                <!--End class header content-->
            </div>

            <!--Start main menu -->
            <nav class="tz-menu-primary">
                <div class="container">

                    <!--Main Menu-->
                    <ul class="tz-main-menu pull-left nav-collapse">
                        <li>
                            <a href="{{ path('home') }}">Home</a>

                        </li>
                        <li>
                            <a href="{{ path('evenements') }}">evenements</a>
                        </li>
                        <li>
                            <a href="{{ path('cours') }}">Cours</a>
                        </li>
                        <li>
                            <a href="{{ path('location') }}" >location</a>
                        </li>
                        <li>
                            <a href="{{ path('velo_av') }}">Shop</a>
                        </li>
                        <li>
                            <a href="{{ path('performance') }}">Performance</a>
                        </li>

                        <li>
                            <a href="{{ path('reclamation') }}">reclamation</a>
                        </li>
                    </ul>

                    <!--End Main menu-->

                    <!--Shop meta-->
                    <ul class="tz-ecommerce-meta pull-right">

                        <!--Mini cart-->
                        <ul class="cart-inner">
                            <li class="mini-cart-content">
                                <div class="mini-cart-img"><img src="images/product/product-cart1.png" alt="product search one"></div>
                                <div class="mini-cart-ds">
                                    <h6><a href="single-product.html">Liv Race Day Short</a></h6>
                                    <span class="mini-cart-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="mini-meta">
                                               <span class="mini-color">Color: <i class="orange"></i></span>
                                               <span class="mini-qty">Qty: 5</span>
                                            </span>
                                        </span>
                                </div>
                                <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                            </li>
                            <li class="mini-cart-content">
                                <div class="mini-cart-img"><img src="images/product/product-cart2.png" alt="product search one"></div>
                                <div class="mini-cart-ds">
                                    <h6><a href="single-product.html">City Pedals Sport</a></h6>
                                    <span class="mini-cart-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="mini-meta">
                                               <span class="mini-color">Color: <i class="orange"></i></span>
                                               <span class="mini-qty">Qty: 5</span>
                                            </span>
                                        </span>
                                </div>
                                <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                            </li>
                            <li class="mini-cart-content">
                                <div class="mini-cart-img"><img src="images/product/product-cart3.png" alt="product search one"></div>
                                <div class="mini-cart-ds">
                                    <h6><a href="single-product.html">Gloss</a></h6>
                                    <span class="mini-cart-meta">
                                            <a href="single-product.html">$2650.00</a>
                                            <span class="mini-meta">
                                               <span class="mini-color">Color: <i class="orange"></i></span>
                                               <span class="mini-qty">Qty: 5</span>
                                            </span>
                                        </span>
                                </div>
                                <span class="mini-cart-delete"><img src="images/delete.png" alt="delete"></span>
                            </li>
                            <li class="mini-subtotal">
                                    <span class="subtotal-content">
                                        Subtotal:
                                        <strong class="pull-right">$1,100.00</strong>
                                    </span>
                            </li>
                            <li class="mini-footer">
                                <a href="shop-cart.html" class="view-cart">View Cart</a>
                                <a href="shop-checkout.html" class="check-out">Checkout</a>
                            </li>
                        </ul>
                        <!--End mini cart-->

                        </li>
                    </ul>
                    <!--End Shop meta-->

                    <!--navigation mobi-->
                    <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!--End navigation mobi-->
                </div>
            </nav>
            <!--End stat main menu-->

        </header>
        <!--End id tz header-->

        <!--Start Blog-->
        <div class="blog">
            <div class="container">
                <ul class="tz-breadcrumbs">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="current">
                        Contact
                    </li>
                </ul>
                <div class="blog-container">
                    <div class="row">
                        <div class="col-md-4">

                            <!--Blog Sidebar-->
                            <div class="blog-sidebar">
                                <aside class="contact-info widget no-border">
                                    <h4 class="widget-title">Contact info</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                                    <ul>
                                        <li>
                                            <span>Address</span>
                                            <address>123 Sky Tower address name, Los Algeles, USA, Country, 01234</address>
                                        </li>
                                        <li>
                                            <span>Phone</span> (012) 345 6789
                                        </li>
                                        <li>
                                            <span>Email:</span> info@templaza.com
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            <!--End Blog Sidebar-->
                        </div>
                        <div class="col-md-8 tz-blog-content">
                            <h1 class="large-ttle">Contact Us</h1>
                            <div id="contact-form" class="contact-respond">
                                <h3 class="tz-title">Leave us a message</h3>



                                {{ form_start(form) }}
                                <div class="form-row form-row-wide">
                                    {{ form_label(form.depart,"depart") }}
                                    {{ form_widget(form.depart ,{'attr':{'class': 'form-row form-row-wide'}} ) }}
                                </div>
                                <div class="form-row form-row-wide">
                                    {{ form_label(form.arivee,"arivee") }}
                                    {{ form_widget(form.datereclamation , {'attr':{'class': 'input-text'}}) }}
                                </div>
                                <div class="form-row form-row-wide">
                                    {{ form_label(form.distance,"distance") }}
                                    {{ form_widget(form.distance ,{'attr':{'class': 'form-row form-row-wide'}} ) }}
                                </div>
                                <div class="form-row form-row-wide">
                                    {{ form_label(form.temps,"temps") }}
                                    {{ form_widget(form.temps ,{'attr':{'class': 'form-row form-row-wide'}} ) }}
                                </div>

                                <p class="comment-for-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit form">
                                </p>
                                {{ form_end(form) }}
                            </div>
                            <div class="map">
                                <h3 class="tz-title">Get in touch with us</h3>
                                <div class="map-iframe">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d423284.59051352716!2d-118.41173249999996!3d34.020498899999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123+Sky+Tower+address+name%2C+Los+Algeles%2C+USA%2C+Country%2C!5e0!3m2!1sen!2s!4v1430668657672"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Start Blog-->

        <!--Start partners-->
        <div class="container">
            <ul class="tz-partners">
                <li>
                    <a href="#">
                        <img src="images/clients/partner1.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner2.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner3.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner4.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner5.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner6.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner1.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner2.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner5.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner3.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner4.jpg" alt="partner">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/clients/partner6.jpg" alt="partner">
                    </a>
                </li>
            </ul>
        </div>
        <!--End partners-->

        <!--Start Footer-->
        <footer class="tz-footer">
            <div class="footer-widget">
                <div class="container">

                    <!--Start footer left-->
                    <div class="footer-left">
                        <div class="contact-info widget">
                            <h3 class="widget-title">Contact info</h3>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <ul>
                                <li>
                                    <span>Address :</span>
                                    <address>
                                        123 Sky Tower address name, Los Algeles, ,<br> USA, Country, 01234
                                    </address>
                                </li>
                                <li>
                                    <span>Phone :</span>
                                    (012) 345 6789
                                </li>
                                <li>
                                    <span>Email :</span>
                                    info@templaza.com
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <form class="tz-subcribe">
                                <input type="text" name="sub" value="" placeholder="Enter your email...">
                                <input type="submit" name="subscribe" value="Subscribe">
                            </form>
                        </div>
                        <div class="widget">
                            <ul class="tz-social">
                                <li>
                                    <a class="fa fa-facebook" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-twitter" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-google-plus" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-tumblr" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-flickr" href="#"></a>
                                </li>
                                <li>
                                    <a class="fa fa-pinterest" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End footer left-->

                    <!--Start footer right-->
                    <div class="footer-right">
                        <div class="tz-widget-clients widget">
                            <h3 class="widget-title">What clients say?</h3>
                            <div class="tz-widget-say">
                                <img src="images/say.jpg" alt="Kathy Young">
                                <div class="entry-say">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor     incididunt ut labore et dolore magna aliqua.</p>
                                    <span>Kathy Young</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget widget_nav_menu">
                                    <h3 class="widget-title">HOW TO BUY</h3>
                                    <ul>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Returns</a>
                                        </li>
                                        <li>
                                            <a href="#">Site Map</a>
                                        </li>
                                        <li>
                                            <a href="#">Brands</a>
                                        </li>
                                        <li>
                                            <a href="#">Gift Vouchers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget_nav_menu">
                                    <h3 class="widget-title">MY ACCOUNT</h3>
                                    <ul>
                                        <li>
                                            <a href="#">My Account</a>
                                        </li>
                                        <li>
                                            <a href="#">Order History</a>
                                        </li>
                                        <li>
                                            <a href="#">Wish List</a>
                                        </li>
                                        <li>
                                            <a href="#">Newsletter</a>
                                        </li>
                                        <li>
                                            <a href="#">Specials</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget_nav_menu">
                                    <h3 class="widget-title">Infomation</h3>
                                    <ul>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Returns</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Term & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End footer right-->

                </div>
            </div>
            <div class="tz-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p>Copyright &copy; 2015 <a href="http://templaza.com/" target="_blank">BikeSport</a> by TemPlaza. All rights reserved.</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="pull-right">
                                <span class="payments-method">
                                    <a href="#"><img src="images/Visa.png" alt="visa"></a>
                                    <a href="#"><img src="images/Intersection.png" alt="Intersection"></a>
                                    <a href="#"><img src="images/ebay.png" alt="ebay"></a>
                                    <a href="#"><img src="images/Amazon.png" alt="Amazon"></a>
                                    <a href="#"><img src="images/Discover.png" alt="Discover"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->

    </div>
    <!--End class site-->
    {% block js %}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/off-canvas.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    {%endblock%}
{%endblock%}
